
[Api]
ApiHost = "https://pokebedrock.com"
ApiKey = "xxxxxxxx-xxxxxxxx-xxxxxxxx"
XboxApiKey = "xxxxxxxx-xxxxxxxx-xxxxxxxx"

[Bot]
DisplayName = ""
Enabled = false
XUID = ""

[Connection]
ProxyAddress = "0.0.0.0:19132"
RemoteAddress = "0.0.0.0:19134"

[Database]
Host = "http://127.0.0.1:3230"
Key = "xxxxxxxx-xxxxxxxx-xxxxxxxx"
Name = "testing"

[Logging]
DiscordChatLogsWebhook = "https://discord.com/api/webhooks/1111111111111111/xxxxxxxx-xxxxxxxx-xxxxxxxx"
DiscordCommandLogsWebhook = "https://discord.com/api/webhooks/1111111111111111/xxxxxxxx-xxxxxxxx-xxxxxxxx"
DiscordSignLogsIconURL = "https://media.forgecdn.net/avatars/121/268/636409261203329160.png"
DiscordSignLogsWebhook = "https://discord.com/api/webhooks/1111111111111111/xxxxxxxx-xxxxxxxx-xxxxxxxx"
DiscordStaffAlertsWebhook = "https://discord.com/api/webhooks/1111111111111111/xxxxxxxx-xxxxxxxx-xxxxxxxx"

[Rcon]
Enabled = false
Password = ""
Port = 0

[Resources]
PackURLs = []
PackPaths = []

[Server]
SecuredSlots = 5
DisableXboxAuth = false
Ops = ["Smell of curry"]
Prefix = "TESTING"
ViewDistance = 10
Whitelist = true
FlushRate = 10

[WorldBorder]
Enabled = true
MaxX = 12000
MaxZ = 12000
MinX = -12000
MinZ = -12000
